.main-div {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
}
div {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    
}
.button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: green;
    border-radius: 5px;    
}
input {
    padding: 5px;
    width: 98%;
}

select {
    width: 100%;
}

.removeMovieBtn {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-left: 10px;
    background-color: red;
    display: none;
}
.on-off {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-left: 10px;
    background-color: red;
    
    display: inline;
}

.del-button {
    color: white;
    background-color: brown;
    width:30%;
}
